body {
    background-color: #090909;
    margin: 0;
    display: flex;
    justify-content: center;
}

.page-center {
    display: flex;
    background-image: url('./assets/waterfall.jpg');
    background-size: contain;
    background-position: left;
    /* max-width: 1000px; */
    margin: 0 10rem;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

.banner {
    flex-grow: 1;
    min-width: 300px;
    background-color: rgb(0, 0, 0, 0.5);
    height: 8rem;
    margin-top: 8rem;
}

.banner-text {
    font-size: 5rem;
    color: #fff;
}

.image-credit {
    position: absolute;
    bottom: 1em;
    color: white;
    font-size: 0.75em
}

.image-credit > a {
    color: white;
}

.overlay {
    margin: 0;
    flex-grow: 1;
    height: 100vh;
    background-color: rgb(250, 235, 215);
    /* box-shadow: -1px 0px 0px #999; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-text {
    margin: 2rem;
    background-color: rgba(137, 43, 226, 0.397);
}

/* TODO: set a max number of characters per line here  */
.top-text > p {
    padding: 0rem;
}

.form-container {
    padding: 2rem;
    background-color: rgb(235, 212, 180);
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    min-width: 400;
    gap: 4em;
}

.entry {
    display: flex;
    flex-direction: column;
}

button.submit {
    margin: 2rem;
    width:8rem;
}

.sign-in {
    margin: 2rem;
}